@import "../../styles/variables";

.app {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.appDescription {
  padding: $padding-large;
}

.content {
  flex-grow: 1;
  padding: $padding-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notLoggedIn {
  text-align: center;
}

.login {
  height: 300px;
  margin-top: $margin-large;
}
