@import "../../styles/variables.scss";
@import "../../styles/tools.scss";

.subjectCards {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .subheader {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .testsSummary {
    padding: 20px;
  }

  .cardList {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 20px;
    flex-grow: 1;
  }

  .testContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .postTestActions {
      margin-top: 20px;
    }
  }

  .testStatus {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .testCard {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progressContainer {
    width: 100%;
    height: 40px;
    position: relative;

    .progressBar {
      height: 100%;
      @include transition(width);
      background-color: fade-out($primary-color, 0.5);
    }

    .progressSummary {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .controls {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    & > * {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
