@import "../../styles/variables.scss";
@import "../../styles/tools.scss";

.subjectCards {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .subheader {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .testsSummary {
    padding: $padding-large;
  }

  .cardList {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: $padding-large;
    flex-grow: 1;
  }

  .testContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .postTestActions {
      margin-top: $margin-large;
    }
  }

  .testStatus {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-large;
  }

  .testCard {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .controls {
    flex-grow: 1;
    padding: $padding-large;
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    & > * {
      margin-right: $margin-medium;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
