@import "../../styles/variables";
@import "../../styles/tools";

.dialog {
  @include transition(opacity);

  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &.opening,
  &.open {
    opacity: 1;

    .window {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.closing {
    opacity: 0;

    .window {
      transform: translateY(-$margin-medium);
      opacity: 0;
    }
  }

  &.open {
    pointer-events: all;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .window {
    @include transition("transform, opacity");

    transform: translateY(-$margin-medium);
    opacity: 0;

    box-shadow: $box-shadow-large;
    border-radius: $border-radius-large;
    background-color: white;
    min-width: 300px;
    min-height: 100px;
    max-width: 90vw;
    overflow: hidden;

    .header {
      background-color: $light-grey;
      padding: $padding-large;
      font-size: 1.5em;
    }

    .body {
      padding: $padding-large;
    }

    .footer {
      padding: $padding-large;
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        margin-right: $margin-medium;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
