.navigation {
  width: 300px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.navItem {
  padding: 10px;
}

.header {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
