@import "../../styles/variables";

.navigation {
  background-color: white;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  overflow-y: auto;
  padding: $padding-medium;
  box-shadow: $box-shadow-large;

  .route {
    display: flex;
    flex-grow: 1;

    & > * {
      margin-right: $margin-medium;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .userActions {
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      margin-right: $margin-medium;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.login {
  height: auto;
}

.navItem {
  padding: $padding-medium;
}

.header {
  padding: $padding-medium;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
