@import "../../styles/variables";
@import "../../styles/tools";

.textField {
  @include transition(border-color);

  outline: none;
  border: 1px solid transparent;
  padding: 10px;
  border-bottom-color: $light-grey;
  background-color: white;

  &.fullWidth {
    width: 100%;
  }

  &:focus {
    border-bottom-color: $primary-color;
  }
}
