@import "~client/styles/variables";

.testStatus {
  border: 1px solid black;
  border-radius: $border-radius-small;
  padding: $padding-small $padding-medium;
  display: inline-block;
  color: black;
  white-space: nowrap;
  cursor: default;

  &.NOT_STARTED {
    border-color: $dark-grey;
    color: $dark-grey;
  }

  &.STARTED {
    border-color: $primary-color;
    color: $primary-color;
  }

  &.COMPLETED {
    border-color: $success-color;
    color: $success-color;
  }

  &.ABANDONED {
    border-color: $delete-color;
    color: $delete-color;
  }
}
