@import "../../styles/variables.scss";
@import "../../styles/tools.scss";

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flashCard {
  @include transition(border-color);

  position: relative;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  border: 2px solid transparent;
  box-shadow: $box-shadow-small;
  border-radius: 2px;
  background-color: white;

  &.test {
    transform: scale(1.5);
  }

  &.showBothSides .face {
    position: relative;
  }
  &.showBothSides .face.front {
    display: flex;
  }
  &.showBothSides .face.back {
    display: flex;
  }

  &.highlightUpdate {
    border-color: $primary-color;
  }

  &.selected {
    border-color: $primary-color;
  }

  &.deleting {
    border-color: $delete-color;
  }

  .face.front {
    display: flex;
  }
  .face.back {
    display: none;
  }

  &.flipped .face.front {
    display: none;
  }
  &.flipped .face.back {
    display: flex;
  }

  &:hover .controls {
    opacity: 1;
  }

  .controls {
    @extend .centered;
    @include transition(opacity);

    flex-shrink: 0;
    padding: 10px;
    z-index: 1;
    width: 100%;
    bottom: 0;
    opacity: 0;
  }
}

.face {
  flex-grow: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .faceTitle {
    z-index: 0;
    background-image: $card-gradient;
    color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-family: serif;
    pointer-events: none;
  }
}

.question,
.answer {
  outline: none;
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  z-index: 1;
}

@keyframes flip {
  from: {
    transform: rotateY(0deg);
  }

  to: {
    transform: rotateY(180deg);
  }
}
