@import '../../styles/tools.scss';

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flashCard {
  position: relative;
  width: 200px;
  height: 300px;
  display: flex;

  &.flipped .front {
    transform: rotateY(180deg);
  }
  &.flipped .back {
    transform: rotateY(0deg);
  }
}

.face {
  @include transition(transform);
  @include shadowed();

  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .faceTitle {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(0, 30%);
    opacity: .1;
    font-size: 2em;
    font-family: serif;
    pointer-events: none;
  }
}

.question, .answer {
  @extend .centered;

  outline: none;
  text-align: center;
  padding: 10px;
  flex-grow: 1;
}

.front {
}

.back {
  transform: rotateY(180deg);
}

.controls {
  @extend .centered;

  flex-shrink: 0;
  padding: 10px;
  z-index: 1;
}
