@import "../../styles/variables.scss";
@import "../../styles/tools.scss";

.subjectCard {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: $box-shadow-small;
  background-color: white;

  &:hover .controls {
    opacity: 1;
  }

  &.active {
    background-color: rgba(0, 90, 180, 0.1);
  }

  .title {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    .count {
      margin-left: 10px;
    }
  }

  .controls {
    @include transition(opacity);
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
