@mixin transition($property) {
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-property: $property;
  will-change: $property;
}

@mixin shadowed() {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .1);
}
