$primary-color: rgb(0, 90, 180);
$delete-color: rgb(180, 30, 0);
$light-grey: rgb(210, 212, 215);

$box-shadow-large: 0px 4px 10px rgba(0, 0, 0, 0.1);
$box-shadow-small: 0px 2px 5px rgba(0, 0, 0, 0.1);
