$primary-color: rgb(0, 90, 180);
$delete-color: rgb(180, 30, 0);
$success-color: rgb(30, 180, 0);
$failure-color: $delete-color;
$light-grey: rgb(230, 232, 235);
$dark-grey: rgb(130, 132, 135);
$light-tan: rgb(240, 235, 232);

$black-10: rgba(0, 0, 0, 0.1);
$black-38: rgba(0, 0, 0, 0.38);
$black-54: rgba(0, 0, 0, 0.54);
$black-87: rgba(0, 0, 0, 0.87);

$success-gradient: linear-gradient(
  135deg,
  transparentize($success-color, 0.8),
  transparent
);
$failure-gradient: linear-gradient(
  135deg,
  transparentize($failure-color, 0.8),
  transparent
);

$card-gradient: linear-gradient(135deg, white, white);

$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;

$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 20px;

$box-shadow-large: 0px 4px 10px rgba(0, 0, 0, 0.1);
$box-shadow-small: 0px 2px 5px rgba(0, 0, 0, 0.1);

$border-radius-small: 2px;
$border-radius-large: 4px;

$font-size-small: 8pt;
$font-size-medium: 10pt;
$font-size-large: 12pt;
$font-size-larger: 16pt;
$font-size-huge: 24pt;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-family-serif: "Alegreya", "Times New Roman";
$font-family-sans-serif: "Roboto", "Helvetica", "Arial";
