@import "~client/styles/tools.scss";

.enter {
  opacity: 0;
  transform: translateY(-10px);
}
.enterActive {
  @include transition();
  transition-property: opacity, transform;
  transform: translateY(0);
  opacity: 1;
}
.appear {
  opacity: 0;
}
.appearActive {
  @include transition();
  opacity: 1;
  transition-property: opacity;
}
.leave {
  opacity: 1;
}
.leaveActive {
  @include transition();
  transition-property: opacity, transform;
  transform: translateY(-10px);
  opacity: 0;
}
