.login {
  .actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
