@import "~client/styles/variables";

.login {
  .actions {
    margin-top: $margin-large;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      margin-right: $margin-medium;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
