@import "~client/styles/variables";

.login {
  width: 500px;
  height: 300px;

  .form {
    margin-top: $margin-large;
  }

  .errors {
    margin-top: $margin-large;
    color: $delete-color;
    text-align: center;
  }

  .actions {
    margin-top: $margin-large;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      margin-right: $margin-medium;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
