@import "../../styles/variables";

.subjects {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .subheader {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .controls {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    z-index: 1;

    & > * {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .subjectList {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-grow: 1;
  }
}
