@import "../../styles/variables.scss";
@import "../../styles/tools.scss";

.button {
  @include transition(background-color);

  padding: 10px 20px;
  cursor: pointer;
  background-color: $light-grey;
  color: black;
  border: 0;
  border-radius: 2px;
  outline: none;
  font-size: inherit;
  margin-right: 10px;
  white-space: nowrap;

  &:hover {
    background-color: lighten($light-grey, 10%);
  }

  &.small {
    padding: 5px 10px;
    font-size: $font-size-small;
  }

  &.primary {
    color: white;
    font-weight: bold;
    background-color: $primary-color;

    &:hover {
      background-color: lighten($primary-color, 10%);
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: $light-grey;
    }
  }

  &.delete {
    color: white;
    background-color: $delete-color;

    &:hover {
      background-color: lighten($delete-color, 10%);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
