@import "~client/styles/variables";

.test {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .cardNumbers {
    margin: 0 20px;
    white-space: nowrap;
  }

  .subheader {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .actions {
    flex-grow: 1;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: flex-end;
  }

  .testCard {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testPreparation {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testSummary {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }

  .testProgressContainer {
    padding: 0 20px;
  }

  .summaryTable {
    width: 100%;
    border-spacing: 0;

    th,
    td {
      text-align: left;
      padding: 10px 20px;
      border: 1px solid transparent;
      border-bottom-color: $light-grey;
    }

    .correct {
      color: $success-color;
    }

    .incorrect {
      color: $delete-color;
    }

    .notAnswered {
      color: $dark-grey;
    }
  }
}
