.cards {
  width: 100%;
  display: flex;
  flex-direction: column;

  .cardList {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 20px;
  }

  .testCard {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .controls {
    padding: 20px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, .1);
    border-width: 0 0 1px 0;
  }
}
