@import "styles/variables";

* {
  box-sizing: border-box;
}

body,
html,
body > div {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body,
input,
button {
  font-size: $font-size-medium;
  font-family: $font-family-sans-serif;
}

a {
  color: $primary-color;
  font-weight: bold;

  &:hover {
    color: lighten($primary-color, 10%);
  }
}
