.subjectsList {
  width: 100%;

  .list {
    flex-grow: 1;
    overflow-y: auto;
  }

  .controls {
    padding: 10px;
    flex-shrink: 0;
  }

  .filterContainer {
    padding: 0;

    .filter {
      width: 100%;
      padding: 10px;
      border: 0;
    }
  }
}
